*, *::before, *::after {
  outline: 1px dashed grey;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Tahoma", sans-serif;
  color: #283136;
  background-color: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition-duration: inherit;
}

a {
  font: inherit;
  color: inherit;
}

a:focus,
a:hover {
  color: #fb565a;
  outline-color: #fb565a;
  outline-offset: 5px;
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
  height: auto;
}


/*------------------------------------*\
    #COMMON-CLASSES
\*------------------------------------*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 16px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 4px;
  outline: none;
}

.button:focus,
.button:hover {
  color: #ffffff;
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 27px;
  background: none;
  border: none;
  opacity: 0.3;
  cursor: pointer;
  transform: rotate(45deg);
}

.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  background-color: #fb565a;
}

.button-close::before {
  width: 27px;
  height: 3px;
  top: 12px;
  left: 0;
}

.button-close::after {
  width: 3px;
  height: 27px;
  top: 0;
  left: 12px;
}

.button-close:focus,
.button-close:hover {
  opacity: 1;
}

.button-close:active {
  opacity: 0.1;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 823px;
}

.header ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-top: 14px;
  list-style: none;
}

.header a {
  padding: 8px 0;
  text-decoration: none;
}

.header a:focus,
.header a:hover {
  color: #fb565a;
  outline: none;
}

.header a:active {
  opacity: 0.3;
}

.header .navigation-current {
  border-bottom: 2px solid #fb565a;
}

.navigation-home a,
.navigation-home img {
  display: block;
  width: 160px;
  height: 65px;
  padding: 0;
}

.navigation-home a[href]:focus,
.navigation-home a[href]:hover {
  opacity: 0.8;
}

.navigation-home a[href]:active {
  opacity: 0.3;
}

.navigation-site {
  flex-wrap: wrap;
}

.navigation-site a {
  margin: 0 23px;
}

.navigation-user {
  justify-content: flex-end;
  min-width: 160px;
}

.navigation-user-cart::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 25px;
  vertical-align: middle;
  background: url(../img/cart.svg) no-repeat 0 0;
}


/*------------------------------------*\
    #INDEX-CONTENT
\*------------------------------------*/

/*  #SLIDER  -------------------------*/

.slider-wrapper {
  background-color: #eeeeee;
}

.slider {
  position: relative;
}

.slider b {
  display: block;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider p {
  max-width: 415px;
  margin-top: 0;
  margin-bottom: 38px;
}

.slider .button {
  padding-right: 55px;
  padding-left: 54px;
}

.slider-item {
  display: none;
  min-height: 430px;
  margin: 0;
  padding: 77px 50% 80px 0;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slide-1:checked ~ .slider-item-1,
.slide-2:checked ~ .slider-item-2,
.slide-3:checked ~ .slider-item-3 {
  display: block;
}

.slider-item-1 {
  background-image: url(../img/slide1.png);
  background-position: 431px bottom;
}

.slider-item-2 {
  background-image: url(../img/slide2.png);
}

.slider-item-3 {
  background-image: url(../img/slide3.png);
}

.slider-control {
  position: absolute;
  right: 0;
  bottom: 96px;
  left: 0;
  display: flex;
  justify-content: center;
  margin: 0 35%;
}

.slider-control label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 9px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-1:checked ~ .slider-control label[for="slide-1"]::before,
.slide-2:checked ~ .slider-control label[for="slide-2"]::before,
.slide-3:checked ~ .slider-control label[for="slide-3"]::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/*  #PRODUCTS  -----------------------*/

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 80px;
  border-bottom: 2px solid #eeeeee;
}

.products-item {
  max-width: 300px;
  margin-right: 60px;
  margin-bottom: 80px;
}

.products-item::before {
  content: "";
  display: block;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.products-sites::before {
  content: url(../img/illustration-1.png);
}

.products-applications::before {
  content: url(../img/illustration-2.png);
}
.products-presentations::before {
  content: url(../img/illustration-3.png);
}

.products-item h3 {
  margin: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.products-item p {
  max-width: 250px;
  margin-bottom: 32px;
}

.products-applications .button {
  background-color: #00ca74;
}

.products-applications .button:focus,
.products-applications .button:hover {
  background-color: #00bc6c;
}

.products-applications .button:active {
  background-color: #00aa62;
}

.products-presentations .button {
  background-color: #efc84a;
}

.products-presentations .button:focus,
.products-presentations .button:hover {
  background-color: #eab534;
}

.products-presentations .button:active {
  background-color: #e5a722;
}

/*  #ABOUT-US  -----------------------*/

.about-us {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 48px;
  border-bottom: 2px solid #eeeeee;
}

.about-us .column-left {
  width: 660px;
}

.about-us .column-right {
  width: 360px;
}

.about-us b {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-us .about-us-lead {
  display: block;
  margin: 33px 0 35px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  text-transform: none;
}

.about-us p {
  margin: 0;
  margin-bottom: 38px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 37px;
}

.about-us li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-us img {
  margin-bottom: 28px;
}

.about-us table {
  width: 100%;
  border-collapse: collapse;
}

.about-us caption {
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us td {
  width: 33.3%;
  padding-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
}

.about-us .accent {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-us sup {
  font-size: 27px;
}

/*  #PARTNERS  -----------------------*/

.clients {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 182px;
  margin-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.clients::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 279px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  box-shadow:
    300px 0 0 #eeeeee,
    600px 0 0 #eeeeee;
}

.clients a {
  opacity: 0.2;
}

.clients a:focus,
.clients a:hover {
  opacity: 1;
  outline: none;
}

.clients a:active {
  opacity: 0.1;
}

.clients img {
  display: block;
}


/*------------------------------------*\
    #INNER-CONTENT
\*------------------------------------*/

.page-title {
  padding: 77px 0 107px;
  color: #000000;
  background-color: #eeeeee;
}

.page-title h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

/*  #FILTERS  ------------------------*/

.filters {
  width: 260px;
  font-size: 16px;
  line-height: 20px;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  border: none;
}

.filters legend {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #000000;
  text-transform: uppercase;
}

.filters label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 37px;
  cursor: pointer;
}

.filters-price legend {
  margin-bottom: 48px;
}

.filters-range {
  position: relative;
  width: 260px;
  height: 80px;
  margin-bottom: 14px;
  border-radius: 4px;
  background-color: #eeeeee;
}

.filters-range-scale,
.filters-range-fill {
  position: absolute;
  top: 39px;
  left: 20px;
  height: 2px;
}

.filters-range-scale {
  width: 220px;
  background-color: #d7dcde;
}

.filters-range-fill {
  width: 152px;
  background-color: #00ca74;
}

.filters-range button {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.filters-range button:hover {
  background-color: #888888;
}

.filters-range-min {
  left: 18px;
}

.filters-range-max {
  left: 160px;
}

.filters-price p {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.filters-price label {
  padding: 0;
  line-height: 22px;
  text-transform: uppercase;
  text-align: right;
}

.filters input[type="text"] {
  width: 80px;
  height: 38px;
  margin-left: 12px;
  font: inherit;
  text-align: center;
  background-color: #eeeeee;
  border: none;
  border-radius: 4px;
}

.filters input:not([type="text"]) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.filters input:focus + label,
.filters label:hover {
  color: #000000;
}

.filters input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filters label::before {
  opacity: 0.4;
}

.filters label::before {
  opacity: 0.4;
}

.filters input:focus + label::before,
.filters label:hover::before {
  opacity: 1;
}

.filters input:disabled + label::before {
  opacity: 0.1;
}

.filters input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -2.5px;
  left: 0;
  width: 25px;
  height: 25px;
  padding: 4px;
  background-clip: content-box;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
}

.filters input[type="radio"]:checked + label::before {
  background-color: #4d4d4d;
}

.filters .filters-layout {
  margin-bottom: 22px;
}

.filters input[type="checkbox"] + label::before {
  content: url("../img/checkbox.svg");
  position: absolute;
  top: -1.5px;
  left: 0;
  width: 27px;
  height: 23px;
}

.filters input[type="checkbox"]:checked + label::before {
  content: url("../img/checkbox-on.svg");
}

.filters .filters-features {
  margin-bottom: 30px;
}

.filters .button {
  width: 100%;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.filters .button:focus,
.filters .button:hover {
  background-color: #dfdfdf;
}

.filters .button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

/*  #CATALOG  ------------------------*/

.catalog-container {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 56px;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
}

/*  #SOORTING  -----------------------*/

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  color: #000000;
  text-transform: uppercase;
}

.sorting ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting b {
  flex-grow: 1;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sorting a {
  padding: 0 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  opacity: 0.3;
}

.sorting a:focus,
.sorting a:hover {
  color: #000000;
  opacity: 0.6;
  outline: none;
}

.sorting a:active,
.sorting a.active {
  opacity: 1;
}

.sorting .sorting-links-toggle {
  margin-left: 17px;
}

.sorting-links-toggle a {
  display: block;
  margin-left: 17px;
  padding: 0;
}

.sorting .descending {
  border: 6px solid transparent;
  border-top: 10px solid #231f20;
  border-bottom: none;
}

.sorting .ascending {
  border: 6px solid transparent;
  border-bottom: 10px solid #231f20;
  border-top: none;
}

/*  #CATALOG-ITEMS  ------------------*/

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  width: 360px;
  height: 616px;
  display: block;
  margin-bottom: 32px;
  padding-top: 40px;
  background-color: rgba(77, 77, 77, 0.12);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.catalog-item:hover {
  background-color: rgba(77, 77, 77, 1);
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow:
    23px 0 0 0 #ffffff,
    46px 0 0 0 #ffffff;
}

.catalog-item img {
  display: block;
}

.catalog-item-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 230px;
  padding: 24px 60px 43px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
  background-color: #eeeeee;
  opacity: 0;
}

.catalog-item:focus .catalog-item-hover,
.catalog-item:hover .catalog-item-hover {
  opacity: 1;
}

.catalog-item h3 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item p {
  margin: 0;
  margin-bottom: 30px;
}

.catalog-item .button {
  min-width: 200px;
  margin-top: auto;
  font-weight: 500;
}

.catalog-item .button:active {
  color: #ffffff;
}

/*  #CATALOG-PAGINATION  -------------*/

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 27px;
  margin-bottom: 4px;
  padding: 0;
  list-style: none;
}

.pagination a {
  display: block;
  width: 50px;
  margin-right: 11px;
  padding: 14px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border-radius: 3px;
}

.pagination a[href] {
  background-color: #eeeeee;
}

.pagination a:focus,
.pagination a[href]:hover {
  background-color: #dfdfdf;
}

.pagination a[href]:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.pagination-prev,
.pagination-next {
  min-width: 260px;
}

.pagination-prev:not([href]),
.pagination-next:not([href])  {
  display: none;
}

.pagination .pagination-current {
  padding: 11px 14px;
  border: 3px solid #eeeeee;
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/*  #CONTACTS  -----------------------*/

.contacts {
  min-width: 100%;
  min-height: 416px;
  background-image: url(../img/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts-map {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.contacts .container {
  position: relative;
  min-height: 416px;
}

.contacts-text {
  position: absolute;
  top: 54px;
  left: 20px;
  width: 318px;
  margin: 0;
  padding: 50px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  background-color: #ffffff;
}

.contacts-text b {
  display: block;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts-text .button {
  width: 100%;
  margin-top: 22px;
}

.contacts img {
  display: none;
}

/*  #SOCIAL  -------------------------*/

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 20px;
}

.social-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  margin-right: 12px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-link:focus,
.social-link:hover {
  background-color: #e74246;
  outline: none;
}

.social-link:active {
  background-color: #d7373b;
}

.social-link:active::before {
  opacity: 0.3;
}

.social-link::before {
  content: "";
  width: 78px;
  height: 78px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link-vk::before {
  background-image: url(../img/vk.svg);
  background-size: 26px 15px;
}

.social-link-fb::before {
  background-image: url(../img/fb.svg);
  background-size: 12px 22px;
}

.social-link-ins::before {
  background-image: url(../img/ins.svg);
  background-size: 21px 21px;
}

.social .slogan {
  flex-grow: 1;
  padding-left: 130px;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.social b {
  display: block;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}


/*------------------------------------*\
    #MODAL-CONTENT
\*------------------------------------*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal {
  display: none;
}

.modal section {
  position: relative;
  padding: 67px 100px 70px;
  font-size: 16px;
  line-height: 18px;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal input,
.modal textarea {
  padding: 14px;
  border: 2px solid #d7dcde;
  border-radius: 4px;
}

.modal input:hover,
.modal textarea:hover {
  border-color: #b4b9bb;
}

.modal input:focus,
.modal textarea:focus {
  color: #444444;
  border-color: #000000;
}

.modal input:invalid {
  color: #e74246;
  border-color: #e74246;
}

.modal .button-close {
  top: 73px;
  right: 87px;
}

/*  #MODAL-MESSAGE  ------------------*/

.modal-message {
  width: 960px;
  color: #000000;
  background-color: #ffffff;
}

.modal-message form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-message h2 {
  margin: 0;
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.modal-message label {
  display: block;
  font-weight: 500;
}

.modal-message input {
  display: block;
  width: 360px;
  margin: 10px 0 32px;
}

.modal-message textarea {
  width: 100%;
  min-height: 118px;
  margin: 10px 0 47px;
}

.modal-message .button {
  margin-bottom: 12px;
  padding-left: 82px;
  padding-right: 82px;
}


*, *::before, *::after {
  outline: none;
}
