*, *::before, *::after {
  outline: 1px dashed grey;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Tahoma", sans-serif;
  color: #283136;
  background-color: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition-duration: inherit;
}

a {
  font: inherit;
  color: inherit;
}

a:focus,
a:hover {
  color: #fb565a;
  outline-color: #fb565a;
  outline-offset: 5px;
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
  height: auto;
}


/*------------------------------------*\
    #COMMON-CLASSES
\*------------------------------------*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 16px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 4px;
  outline: none;
}

.button:focus,
.button:hover {
  color: #ffffff;
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url(../img/close.svg);
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: top left;
  opacity: 0.3;
  cursor: pointer;
}

.button-close:focus,
.button-close:hover {
  opacity: 1;
}

.button-close:active {
  opacity: 0.1;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 823px;
}

.header ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-top: 14px;
  list-style: none;
}

.header a {
  padding: 8px 0;
  text-decoration: none;
}

.header a:focus,
.header a:hover {
  color: #fb565a;
  outline: none;
}

.header a:active {
  opacity: 0.3;
}

.header .navigation-current {
  border-bottom: 2px solid #fb565a;
}

.navigation-home a,
.navigation-home img {
  display: block;
  width: 160px;
  height: 65px;
  padding: 0;
}

.navigation-home a[href]:focus,
.navigation-home a[href]:hover {
  opacity: 0.8;
}

.navigation-home a[href]:active {
  opacity: 0.3;
}

.navigation-site {
  flex-wrap: wrap;
}

.navigation-site a {
  margin: 0 23px;
}

.navigation-user {
  justify-content: flex-end;
  min-width: 160px;
}

.navigation-user-cart::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 25px;
  vertical-align: middle;
  background: url(../img/cart.svg) no-repeat 0 0;
}


/*------------------------------------*\
    #INDEX-CONTENT
\*------------------------------------*/

/*  #SLIDER  -------------------------*/

.slider-wrapper {
  background-color: #eeeeee;
}

.slider {
  position: relative;
}

.slider b {
  display: block;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider p {
  max-width: 415px;
  margin-top: 0;
  margin-bottom: 38px;
}

.slider .button {
  padding-right: 55px;
  padding-left: 54px;
}

.slider-item {
  display: none;
  min-height: 430px;
  margin: 0;
  padding: 77px 50% 80px 0;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slide-1:checked ~ .slider-item-1,
.slide-2:checked ~ .slider-item-2,
.slide-3:checked ~ .slider-item-3 {
  display: block;
}

.slider-item-1 {
  background-image: url(../img/slide1.png);
  background-position: 431px bottom;
}

.slider-item-2 {
  background-image: url(../img/slide2.png);
}

.slider-item-3 {
  background-image: url(../img/slide3.png);
}

.slider-control {
  position: absolute;
  right: 0;
  bottom: 96px;
  left: 0;
  display: flex;
  justify-content: center;
  margin: 0 35%;
}

.slider-control label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 9px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-1:checked ~ .slider-control label[for="slide-1"]::before,
.slide-2:checked ~ .slider-control label[for="slide-2"]::before,
.slide-3:checked ~ .slider-control label[for="slide-3"]::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/*  #PRODUCTS  -----------------------*/

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 80px;
  border-bottom: 2px solid #eeeeee;
}

.products-item {
  max-width: 300px;
  margin-right: 60px;
  margin-bottom: 80px;
}

.products-item::before {
  content: "";
  display: block;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.products-sites::before {
  content: url(../img/illustration-1.png);
}

.products-applications::before {
  content: url(../img/illustration-2.png);
}
.products-presentations::before {
  content: url(../img/illustration-3.png);
}

.products-item h3 {
  margin: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.products-item p {
  max-width: 250px;
  margin-bottom: 32px;
}

.products-applications .button {
  background-color: #00ca74;
}

.products-applications .button:focus,
.products-applications .button:hover {
  background-color: #00bc6c;
}

.products-applications .button:active {
  background-color: #00aa62;
}

.products-presentations .button {
  background-color: #efc84a;
}

.products-presentations .button:focus,
.products-presentations .button:hover {
  background-color: #eab534;
}

.products-presentations .button:active {
  background-color: #e5a722;
}

/*  #ABOUT-US  -----------------------*/

.about-us {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 48px;
  border-bottom: 2px solid #eeeeee;
}

.about-us .column-left {
  width: 660px;
}

.about-us .column-right {
  width: 360px;
}

.about-us b {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-us .about-us-lead {
  display: block;
  margin: 33px 0 35px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  text-transform: none;
}

.about-us p {
  margin: 0;
  margin-bottom: 38px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 37px;
}

.about-us li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-us img {
  margin-bottom: 28px;
}

.about-us table {
  width: 100%;
  border-collapse: collapse;
}

.about-us caption {
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us td {
  width: 33.3%;
  padding-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
}

.about-us .accent {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-us sup {
  font-size: 27px;
}




*, *::before, *::after {
  outline: none;
}
